:root {
  // https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
}

// GLOBAL STYLES
.rounded-lg {
  border-radius: 8px;
}

.block {
  display: block;
}

.mb-2 {
  margin-bottom: 8px;
}

.p-0 {
  padding: 0px !important;
}

.list-none {
  list-style-type: none !important;
}

// TRANSITIONS
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// ANIMATIONS
@keyframes skeleton {
  0% {
    background-position: 150%;
  }

  100% {
    background-position: -50%;
  }
}

